<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoDB.Properties.Settings.stringConexão" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DBLoja;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>